.App {
  text-align: center;
}

.flashcard {
  height: 100px;
  width: 400px;
  background-color: rgb(197, 187, 43);
  margin: 20px;
  font-size: 18px;
  line-height: 70px;
  cursor: pointer;
  user-select: none;
}

